.h{
    border-bottom: 1px dashed red;
}
body{
    max-width: 800px;
    margin: 0 auto;
}
h2{
    color: #c64da2;
    text-decoration: underline;
}
.h.g{
    display: flex; /* chia tung phan tu trong box  */
    justify-content: space-between;
}
.k{
    text-align: end;
}