
body{
    width: 1000px;
    margin:0 auto;
}
#conten{
    display: flex;
    background-color: aliceblue;
}
#bentrai{
    width: 25%;
    margin-top: -90px;
    margin-left: 20px;
    background-color: rgb(212, 211, 211);
}
#d11{
    border-bottom: 1px Solid black;
    padding: 35px;
}
#d12{
    padding: 35px;
}
#benphai{
    width: 75%;
    margin-left: 20px;
   
}
#top{
    height: 100px;
    background-color: rgb(194, 190, 209);
    margin: 10px 0;
}
#h1top{
    text-align: center;
    transform: translate(15px,15px);
}
#top1{
    text-align: center;
    margin-top: -5px;
}
#d22{
    border-bottom: 1px solid black;
}
