body{
    background-image: url("/AngularCLI/demoagl/src/assets/img/anime-sky-cloud-clouds-wallpaper-preview.jpeg");
    background-size: cover;
}
.col-content{
    float:left;
    width: 100%;
    color: #ffffff;
    background-color: #6c757d85;
    padding: 20px;
    margin: 15px 0;
    height: 180px;
    border-radius: 6px;
}
.col-content h3{
    font-size: 18px;
}
.col-content p{
    font-size: 15px;
}
.col-content img{
    transform: translate(150px,-100px);
}