<body>
    <section class="secticon">
        <div class="container">
            <form action="#" method="get">
                <div class="Email">
                    <input required type="email" placeholder="Usernamme">
                </div>
                <div class="Password">
                    <input type="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>  
</body>

<style>
    .body{
        width: 1000px;
        height: 800px;
    }
    .container {
        
    }
    .Email{
        width: 70px;
        height: 40px;
        border-radius: 2px;
        
    }
</style>
